/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.log
*.jar
*.class
.idea/*
/.lein-*
/.nrepl-port
/resources/public/js
/out
figwheel_server.log
movement.iml
/.repl

.idea/workspace.xml

.idea/workspace.xml

figwheel_server.log

movement.iml
