/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.log
*.jar
*.class
.idea/*
/.lein-*
/.nrepl-port
/resources/public/js
/out
figwheel_server.log
movement.iml
/.repl

.idea/workspace.xml

movement.iml

figwheel_server.log

.idea/replstate.xml

*.xml

.idea/modules.xml

.idea/libraries/Leiningen__reagent_forms_0_4_6.xml

.idea/libraries/Leiningen__reagent_forms_0_4_6.xml

.idea/libraries/Leiningen__org_clojure_tools_reader_0_8_16.xml

.idea/libraries/Leiningen__org_clojure_tools_nrepl_0_2_6.xml

.idea/libraries/Leiningen__org_clojure_tools_namespace_0_2_4.xml

.idea/libraries/Leiningen__cheshire_5_4_0.xml

.idea/libraries/Leiningen__clj_time_0_6_0.xml

.idea/libraries/Leiningen__cljsjs_react_0_12_2_5.xml

.idea/libraries/Leiningen__clout_2_1_0.xml

.idea/libraries/Leiningen__com_cemerick_clojurescript_test_0_2_3_20140317_141743_3.xml

.idea/libraries/Leiningen__com_cemerick_piggieback_0_1_6_20150223_163620_3.xml

.idea/libraries/Leiningen__com_fasterxml_jackson_core_jackson_core_2_4_4.xml

.idea/libraries/Leiningen__com_fasterxml_jackson_dataformat_jackson_dataformat_cbor_2_4_4.xml

.idea/libraries/Leiningen__com_fasterxml_jackson_dataformat_jackson_dataformat_smile_2_4_4.xml

*.xml

.idea/inspectionProfiles/Project_Default.xml
