
@font-face { font-family: ETBembo;
             src: url("../fonts/ETBembo-RomanLF.ttf"); }
@font-face { font-family: ETBembo;
             src: url("../fonts/ETBembo-DisplayItalic.ttf");
             font-weight: normal;
             font-style: italic; }
@font-face { font-family: CabinSketch;
             src: url("../fonts/cabin-sketch.regular.ttf"); }
@font-face { font-family: CabinSketchBold;
             src: url("../fonts/cabin-sketch.bold.ttf"); }
@font-face { font-family: AmaticSC;
             src: url("../fonts/amatic-sc.regular.ttf"); }
@font-face { font-family: AmaticSCBold;
             src: url("../fonts/amatic-sc.bold.ttf"); }
@font-face { font-family: CaveatBrush;
             src: url("../fonts/caveat-brush.regular.ttf"); }

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family:
    'Raleway',
    'Roboto',
    ETBembo,
    Palatino,
    "Palatino Linotype",
    "Palatino LT STD",
    "Book Antiqua",
    Georgia,
    sans-serif; }

html {
  font-size: 18px;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #fffff8;
  background-color: #eee;
  background: #f6f5ee;
  background-color: #fffff8;
  color: #111;
}

input, textarea {
  max-width:100%
}

.content {
  margin: 0 auto;
  margin-top: 20px;
  padding: 1rem 1rem;
  max-width: 1200px;
  margin-bottom: 50px;
}

h1 {
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1.0rem;
  font-size: 2.2rem;
  line-height: 1;
}

p.subtitle {
  margin-top: 1rem;
  margin-bottom: 1.0rem;
  font-size: 1.4rem;
  display: block;
  line-height: 1;
}

h2 {
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  line-height: 1;
}

h3 {
  font-weight: 400;
  font-size: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 0rem;
  margin-left: 0.0rem;
  line-height: 1;
  opacity: 0.8;
}

h1, h2, p.subtitle {
/*
  text-align: center;
*/
}

.movements {
  margin-top: 0.5rem;
}

.rep-set {
    color: #9999cc;
    font-size: 200%;
    text-align: right;
    padding-right: 10px;
}

.selected {
    background-color: #5555aa;
}

.logged-session {
    margin-top: 4rem;
}

.login {
    margin-top: 20rem;
}

p, ol, ul {
  font-size: 1.2rem;
}

p {
  line-height: 1.2rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  padding-right: 0;
  vertical-align: baseline;
}

a {
  color: #338bff;
  color: #111111;
}

a:hover {
  cursor: pointer;
}

.blank-state {
  margin-top: 3rem;
  text-align: center;
}


article .pure-g [class *= "pure-u"] {
font-family:
CabinSketch,
CabinSketchBold,
AmaticSCBold,
AmaticSC,
     'Handlee',
         'Raleway',
         'Roboto',
         ETBembo,
         Palatino,
         "Palatino Linotype",
         "Palatino LT STD",
         "Book Antiqua",
         Georgia,
         sans-serif;}

.session {
    background: #f6f5ee;
    background-color: #fffff8;
     }

.movement {
  width: 373px;
  width: auto;
  border-width: 1px;
  border-color: #fffff8;
  margin: 0 15px 15px 0;
  padding: 0;
  border-style: solid;
  position: relative;
  background-color: rgba(220,220,220,0.4);
  background-color: #f6f5ee;
  background-color: #fffff8;
  background-color: #f6f5ee;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(150,150,150,0.6);
}

.title { padding: 0 0 0 15px;}

.search { box-shadow: 0px 0px 3px rgba(150,150,150,0.4);
          opacity: 0.4;
          border-style: dashed;
          border-color: #aaa;
          border-width: 3px;
          }

.small {
  width: 200px;
}

.small h3 {
    font-size: 110%;
}

.big {
  width: 420px;
  font-size: 150%;
}

.big h3 {
    font-size: 150%;
}

.day {
  margin: 15px 15px 0 0;
  background-color: inherit;
  color: inherit;
}

.day-selected {
    background-color: #555;
    color: #fffff8;
}

.add-movement {
    opacity: 0.6;
    margin: 30px 0 30px 5px;
}

.explore-green { font-size: 2.0em;
                 color: #99cc99;
                 margin: 120px 0px 0 10px;
                 opacity: 0.8; }

.explore-selected { box-shadow: 0px 0px 20px rgba(150,150,150,0.8); }

.explore-link {}

.explore-link:hover { color: #999; }

.dim { opacity: 0.8;}

.gold { color: gold;
        margin: 0 0 0 10px;}

.star { margin: 0 0 0 10px;
        transition: all 0.2s; }

.star:hover { -webkit-transform: scale(1.2);
              -ms-transform: scale(1.2);
              transform: scale(1.2); }

.refresh {
  margin: 10px 0 0 0;
  padding: 0px 0 0 0px;
  -webkit-transition: all 0.2s;
  cursor: pointer;
  font-size: 2.0em;
  transition: all 0.2s;
  color: #99cc99;
  opacity: 0.8;
}

.destroy {
    margin: 10px 0 0 0;
    padding: 0 0 0 3px;
	font-size: 2.0em;
	color: #CC9999;
	opacity: 0.8;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.practical {  }

.practical:hover { text-decoration: line-through;
                   opacity: 0.35; }

.not-practical { text-decoration: line-through;
             opacity: 0.35; }

.not-practical:hover { opacity: 0.75; }

.description {
  position: relative;
  padding: 0;
  margin: 5px 0 0 15px;
  font-size: 100%;
}

.graphic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
}

.refresh:hover {
    text-shadow: 0 0 1px #669966,
    0 0 10px rgba(0, 255, 0, 0.6);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.destroy:hover {
    text-shadow: 0 0 1px #996666,
    0 0 10px rgba(255, 0, 0, 0.6);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  height: 100px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-size: 18px;
  font-weight: 600;
  line-height: 38px;
  line-height: 100px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #fffff8;
  background: #1f8dd6;
  border-color:  #1f8dd6;
  background: #4a5976;
  border-color: #4a5976;}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #fffff8;
  background-color: #4ba3de;
  border-color: #4ba3de;
  background: #2c3546;
  border-color: #2c3546;}

.button.button-secondary,
button.button-secondary,
input[type="submit"].button-secondary,
input[type="reset"].button-secondary,
input[type="button"].button-secondary {
  color: #fffff8;
  background: #f9a82f;
  border-color:  #f9a82f; }

 .button.button-secondary:hover,
 button.button-secondary:hover,
 input[type="submit"].button-secondary:hover,
 input[type="reset"].button-secondary:hover,
 input[type="button"].button-secondary:hover,
 .button.button-secondary:focus,
 button.button-secondary:focus,
 input[type="submit"].button-secondary:focus,
 input[type="reset"].button-secondary:focus,
 input[type="button"].button-secondary:focus {
   color: #fffff8;
   background-color: #b56d02;
   border-color: #b56d02; }

.button-success,
.button-error,
.button-warning,
.button-secondary { color: white;
                    border-radius: 4px;
                    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
.button-success { background: rgb(28, 184, 65); /* this is a green */ }
.button-error { background: rgb(202, 60, 60); /* this is a maroon */ }
.button-warning { background: rgb(223, 117, 20); /* this is an orange */ }
.button-secondary { background: rgb(66, 184, 221); /* this is a light blue */ }
.button-xsmall { font-size: 70%; }
.button-small { font-size: 85%; }
.button-large { font-size: 110%; }
.button-xlarge { font-size: 125%; }