h1, h2 {
    text-align: center;
    vertical-align: middle;
}

ul.templates {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    position: relative;
    z-index: 10;
    list-style: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

ul.templates li {
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 0px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul.templates li:hover {
  background: #555;
  color: #fff;
}
ul.templates li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul.templates li ul li {
  background: #555;
  display: block;
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul.templates li ul li:hover { background: #666; }
ul.templates li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

.movement {
    width: 220px;
    position: relative;
    margin: 5px;
    padding: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: #ddddd1;
    background-color: #eeeee1;
    box-shadow: 0px 0px 10px rgba(200,200,150,0.5);
    border-radius: 25px;

}

.title {
    position: relative;
    text-align: center;
    padding: 0px;
    margin: 10px 0 0 10px;
    text-decoration: underline;
}
 .title:hover {
    cursor: pointer;
 }

 .description {
    position: relative;
    padding: 0px;
    margin: 5px 0 0 15px;
    font-size: 70%;
 }

.graphic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    padding: 0px;
    margin: 5px 10px 50px 10px;
}

.icon {
    width: 25px;
    height: 25px;
}

.refresh {
    position: relative;
	top: 5px;
	left: 5px;
	width: 25px;
	height: 25px;
	margin: auto 0;
	font-size: 24px;
	color: #99CC99;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.refresh:hover {
    text-shadow: 0 0 1px #000,
    0 0 10px rgba(0, 255, 0, 0.8);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.refresh:after {
	content: "∴";
}

.destroy {
	position: absolute;
	top: 10px;
   	right: 5px;
	width: 25px;
	height: 25px;
	margin: auto 0;
	font-size: 24px;
	color: #CC9999;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.destroy:hover {
    text-shadow: 0 0 1px #000,
    0 0 10px rgba(255, 0, 0, 0.8);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.destroy:after {
	content: '✖';
}

.sw {
    position: relative;

}

.rep-text {
    color: #13f;
    opacity: 0.6;
    border-bottom: 1px dashed #13f;
    position: absolute;
    bottom: 35px;
    left: 10px;
}

 .rep-text:hover {
    cursor: pointer;
 }

.rep {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.se {
    position: relative;
}

.set-text {
    color: #13f;
    opacity: 0.6;
    border-bottom: 1px dashed #13f;
    position: absolute;
    right: 10px;
    bottom: 35px;
}

 .set-text:hover {
    cursor: pointer;
 }

.set {
    position: absolute;
    right: -40px;
    bottom: 10px;
}

.duration {
    position: absolute;
    bottom: 10px;
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.AdjustableNumber {
   position: relative;
}

.AdjustableNumberDragging {
    color: #46f;
    border-bottom: 1px dashed #46f;
}

.AdjustableNumberHovering {
}

.CursorDragHorizontal {
    cursor: pointer;
    cursor: move;
    cursor: col-resize;
}

.AdjustableNumberHelp {
	position: absolute;
	color: #00f;
	font: 9px "Helvetica-Neue", "Arial", sans-serif;
}