body {
  margin: 0 auto;
  padding-top: 40px;
  -webkit-font-smoothing: antialiased;
  color: #333;
  background
}

div.footer {
  font-size: 1.3rem;
}

h3 {
  color: gray
}

#draggable { width: 150px; height: 150px; padding: 0.5em; }